.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

# Local Obsidian and GM-only files
content/.obsidian/workspace*.json
content/.obsidian/cache/
content/private/
.DS_Store
